﻿@model List<Nop.Plugin.Widgets.ShopLocation.Models.PublicInfoModel>;
@{
    Layout = "";

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.ShopLocation/Scripts/bxslider.js");
    Html.AddCssFileParts("~/Plugins/Widgets.ShopLocation/Content/bxslider.css");
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="Plugin-wrapper topic-block">
    <div id="My-Custom-Plugin" class="topic-block-title">
        <h2>Our Shop Locations</h2>

        <table>
            <tr>
                <th>Shop ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
            @foreach (var location in @Model)
            {
                <tr>
                    <td>@location.ShopId</td>
                    <td>@location.Name</td>
                    <td>@location.Address</td>
                </tr>
            }
        </table>

    </div>
</div>

