﻿@model ChargeExtraModel

<div class="card-body">
    <div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Name" asp-required="true" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="Charge" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Charge" asp-required="true" />
                <span asp-validation-for="Charge"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="Reason" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Reason" asp-required="true" />
                <span asp-validation-for="Reason"></span>
            </div>
        </div>
    </div>
</div>
