﻿@model ChargeExtraModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="manufacturer-cards">
                <nop-card asp-name="manufacturer-info" asp-icon="fas fa-info" asp-title="Location Info" asp-hide-block-attribute-name="Hide" asp-hide="@false" asp-advanced="false">@await Html.PartialAsync("~/Plugins/Misc.ChargeExtra/Areas/Admin/Views/_CreateOrUpdate.Info.cshtml", Model)</nop-card>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ManufacturerDetailsBlock, additionalData = Model })
            </nop-cards>
        </div>
    </div>
</section>