﻿@model PublicInfoModel;

@{ Layout = "_ConfigurePlugin"; }

@{
    ViewBag.PageTitle = "Extra Charges";
}

<form asp-controller="ChargeExtra" asp-action="Configure" method="post" id="shop-location-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            Add Charge
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">Back to shop location list</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9">
                        <nop-editor asp-for="Charge" />
                        <span asp-validation-for="Charge"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>