﻿@model ChargeExtraSearchModel

@{ Layout = "_ConfigurePlugin"; }


<div class="content-header clearfix">
    <h1 class="float-left">
        Extra Charges
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ManufacturerListButtons })
        <button type="button" id="delete-selected" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            @T("Admin.Common.Delete.Selected")
        </button>
        <nop-action-confirmation asp-button-id="delete-selected" />
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="card card-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
               {
                   Name = "shop-ChargeExtras-grid",
                   UrlRead = new DataUrl("List", "ChargeExtra", null),
                   Length = Model.PageSize,
                   LengthMenu = Model.AvailablePageSizes,
                   ColumnCollection = new List<ColumnProperty>
                       {
                       new ColumnProperty(nameof(ChargeExtraModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_manufacturers"),
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Width = "50"
                            },
                           new ColumnProperty(nameof(ChargeExtraModel.Name))
                           {
                               Title = "Name",
                               ClassName =  NopColumnClassDefaults.CenterAll,
                           },
                           new ColumnProperty(nameof(ChargeExtraModel.Charge))
                           {
                               Title = "Extra Charge",
                               ClassName = NopColumnClassDefaults.CenterAll
                           },
                           new ColumnProperty(nameof(ChargeExtraModel.Reason))
                           {
                               Title = "Reason",
                               ClassName = NopColumnClassDefaults.CenterAll
                           },
                            new ColumnProperty(nameof(ChargeExtraModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                       }
               })
                    
                    
                    
                    <script>
                        $(document).ready(function () {
                            $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("DeleteSelected", "ChargeExtra"))",
                                    data: postData,
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $('#deleteSelectedFailed-info').text(errorThrown);
                                        $('#deleteSelectedFailed').click();
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        updateTable('#shop-ChargeExtras-grid');
                                    }
                                });
                                $('#delete-selected-action-confirmation').modal('toggle');
                                return false;
                            });
                        });
                    </script>
                    <nop-alert asp-alert-id="deleteSelectedFailed" />
                </div>
            </div>
        </div>
    </div>
</section>
