﻿@model LocationModel

<div class="card-body">
    <div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="ShopId" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ShopId" asp-required="true" />
                <span asp-validation-for="ShopId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Name" asp-required="true" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="Address" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Address" asp-required="true" />
                <span asp-validation-for="Address"></span>
            </div>
        </div>
    </div>
</div>
