@model LocationModel

@{ Layout = "_ConfigurePlugin"; }
@{
    //page title
    ViewBag.PageTitle = "Shop Locations";
}

<form asp-controller="ShopLocation" asp-action="Create" method="post" id="shop-location-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            Add New
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">Back to shop location list</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Widgets.ShopLocation/Areas/Admin/Views/_CreateOrUpdate.cshtml", Model)
</form>