@model LocationModel

@{
    //page title
    ViewBag.PageTitle = "Edit Shop Location";
}
@{ Layout = "_ConfigurePlugin"; }
<form asp-controller="ShopLocation" asp-action="Edit" method="post" id="shop-location-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            Edit Location Details - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.Manufacturers.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="manufacturer-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ManufacturerDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Widgets.ShopLocation/Areas/Admin/Views/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="manufacturer-delete" />